/* app colors */
:root{
    --primary: #8ac148;
    --primary-light: #bdf478;
    --primary-dark: #599014;
    --text-on-primary: #000000;
}

/* layout styles */
nav{
    background: var(--primary);
    border-bottom: 2pt solid var(--primary-dark)
}
nav a{
    text-transform: uppercase;
    color: var(--text-on-primary);
}
nav .sidenav-trigger{
    margin: 0;
}

/* plants styles */
.plants{
    margin-top: 20pt;
}
.card-panel.plant{
    border-radius: 8pt;
    padding: 10pt;
    box-shadow: 0pt 1pt 3pt rgba(90, 90, 90, 0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details remove";
    position: relative;
}
.plant img{
    grid-area: image;
    max-width: 60pt;
    max-height: 60pt;
    border-radius: 8pt;
}
.plant-details{
    grid-area: details;
    margin-top: 6pt;
    margin-left: 6pt
}
.plant-remove{
    grid-area: remove;
    position: absolute;
    bottom: 0pt;
    right: 0pt;
}
.plant-remove i{
    font-size: 18pt;
}
.plant-name{
    font-weight: bold;
}
.plant-wates-schedule{
    font-size: 0.8em;
}

/* form styles */
.add-btn{
    background: var(--primary) !important;
}
.add-btn i{
    color: var(--text-on-primary) !important;
}
input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.side-form button{
    background: var(--primary);
    box-shadow: 1pt 1pt 3pt rgba(90, 90, 90, 0.2);
}
form .input-field{
    margin-top: 30pt;
}